<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="image/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis quae
      voluptatibus earum aut vero quas ratione dolore a molestiae?
    </p>
  </div>
</div>
<script src="js/main.js"></script>
