<nav class="nav">
  <div class="nav__image">
    <a href="/"><img src="image/logo.svg" alt="" /></a>
  </div>
  <div class="collapsible nav__container">
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="image/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </div>
</nav>
<script src="js/main.js"></script>
