<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, ducimus.
    Maxime voluptates corporis numquam cupiditate eveniet, alias magni quisquam
    repellendus!
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__line">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
